.gridcell {
  z-index: 1;
}

.row-0 {
  grid-row: 1;
}

.row-1 {
  grid-row: 2;
}

.row-2 {
  grid-row: 3;
}

.row-3 {
  grid-row: 4;
}

.row-4 {
  grid-row: 5;
}

.col-0 {
  grid-column: 1;
}

.col-1 {
  grid-column: 2;
}

.col-2 {
  grid-column: 3;
}

.col-3 {
  grid-column: 4;
}

.col-4 {
  grid-column: 5;
}

.col-5 {
  grid-column: 6;
}

.col-6 {
  grid-column: 7;
}

.col-7 {
  grid-column: 8;
}

.col-8 {
  grid-column: 9;
}

.hover-col {
  grid-row: 1 / 10;
  z-index: 0;
}

.hover-row {
  grid-column: 1 / 150;
  z-index: 0;
}

.col-0.gridcell:hover ~ .col-0.hover-col,
.col-1.gridcell:hover ~ .col-1.hover-col,
.col-2.gridcell:hover ~ .col-2.hover-col,
.col-3.gridcell:hover ~ .col-3.hover-col,
.col-4.gridcell:hover ~ .col-4.hover-col,
.col-5.gridcell:hover ~ .col-5.hover-col,
.col-6.gridcell:hover ~ .col-6.hover-col,
.col-7.gridcell:hover ~ .col-7.hover-col,
.col-8.gridcell:hover ~ .col-8.hover-col
{
  background-color: hotpink;
}

.row-0.gridcell:hover ~ .row-0.hover-row,
.row-1.gridcell:hover ~ .row-1.hover-row,
.row-2.gridcell:hover ~ .row-2.hover-row,
.row-3.gridcell:hover ~ .row-3.hover-row,
.row-4.gridcell:hover ~ .row-4.hover-row
{
  background-color: rgba(255,255,0,0.5);
}
